 @font-face {
   font-family: 'cakefont';
   src: url('../font/cakedingbats-webfont.eot');
   src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
     url('../font/cakedingbats-webfont.woff2') format('woff2'),
     url('../font/cakedingbats-webfont.woff') format('woff'),
     url('../font/cakedingbats-webfont.ttf') format('truetype'),
     url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 body {
   font-family: 'Raleway', sans-serif;
   background-color: #9d5da3;
   color: #363637;
   margin: 0;
 }

 .registro {
   text-align: center;
   padding: 32px;
 }

 .registro h1 {
   font-size: 40px;
   color: white;
   margin-bottom: 32px;
 }

 .cards-container {
   display: flex;
   justify-content: center;
   gap: 32px;
   flex-wrap: wrap;
 }

 .card {
   background-color: white;
   padding: 42px;
   padding-top: 42px;
   padding-right: 60px;
   padding-bottom: 42px;
   padding-left: 42px;
   border-radius: 20px;
   width: 280px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .card img {
   width: 150px;
   margin-bottom: 16px;
 }

 .card .tipo {
   background-color: #40baaa;
   color: white;
   border: none;
   padding: 11px 19px;
   font-size: 16px;
   border-radius: 999px;
   margin: 8px 0;
   cursor: pointer;
 }

 .card .info {
   background-color: #63115c;
   color: white;
   border: none;
   padding: 6px 16px;
   font-size: 14px;
   border-radius: 999px;
   cursor: pointer;
 }

 .card form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 16px;
 }

 .card input,
 .card select {
   padding: 8px;
   border-radius: 10px;
   border: 1px solid #d1d1d1;
   font-size: 16px;
   width: 100%;
 }

 .navbar {
   background-color: white;
   padding: 16px 32px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .card label {
   font-weight: bold;
   font-size: 15px;
   text-align: left;
   width: 100%;
   color: #000000;
 }

 fieldset {
   border: none;
   padding: 0;
   margin: 0;
 }

 .navbar a {
   color: #653b69;
   margin-left: 16px;
   text-decoration: none;
   font-weight: 500;
 }

 .navbar a.active {
   font-weight: bold;
   border-bottom: 2px solid #9d5da3;
 }

 .logo-section {
   display: flex;
   align-items: center;
 }

 .brand-name {
   font-size: 24px;
   font-weight: bold;
   margin-left: 8px;
   color: #653b69;
 }

 @media (max-width: 700px) {
   .cards-container {
     flex-direction: column;
     align-items: center;
   }
 }